@model SalesBase.ModelView.ProductVM

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = "frm" }))
{
    <div class="row">
        <h3>Quản lý thông tin sản phẩm</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.id)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.search.id, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 2*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.catalog_id)
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(m=>m.search.catalog_id, Model.search.lstCbb , "-- Select catalog --" , new { @class = "form-combobox" })
                @*@Html.TextBoxFor(m => m.search.catalog_id, new { @class = "form-textbox" })*@
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.name)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.name, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 3*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.amount)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.amount, new { @class = "form-textbox" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.price)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.price, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 4*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.price_buy)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.price_buy, new { @class = "form-textbox" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <input type="button" id="btnAdd" value="Thêm" class="btn-info" />
                <input type="button" id="btnClear" value="Clear" class="btn-info" />
                <input type="button" id="btnBack" value="Back" class="btn-info" />
            </div>
        </div>
    </div>

}
<div class="row" style="margin-top:20px">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Loại sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá bán</th>
                    <th>Giá nhập</th>
                    <th>Ngày cập nhật</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lstBody">
                @Html.Partial("LstView", Model.Lst)
            </tbody>
        </table>
    </div>
</div>

<ul id="pagination-demo" class="pagination-sm"></ul>


<script type="text/javascript">
    $(document).ready(function() {
        $("input[type=text]").val("");

        $("#btnAdd").click(function() {
            $.ajax({
                url: '@Url.Action("Add", "Product")',
                type: 'POST',
                dataType: 'json',
                data: $('#frm').serialize(),
                success: function (data) {
                    if (data.status) {
                        var url = '@Url.Action("Index", "Product")';
                        location.href = url;
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr);
                }
            });
        });

        $("#btnBack").click(function() {
            var url = '@Url.Action("Index", "Menu")';
            location.href = url;
        });

        $("#btnClear").click(function () {
            $("input[type=text]").val("");
        });


        $('#pagination-demo').twbsPagination({
            totalPages: @Model.ToTalPage,
            startPage: @Model.PageNumber,
            visiblePages: 5,
            next: 'Next',
            prev: 'Prev',
            onPageClick: function (event, page) {
                var pr = {
                    'page': page
                };
                $.ajax({
                    url: '@Url.Action("GetLstUser", "Product")',
                    type: 'POST',
                    dataType: 'json',
                    data: $('#frm').serialize() + '&' + $.param(pr),
                    success: function (data) {
                        $('#lstBody').html(data.view);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        });


    });

    //$(document).ready(function () {
    //    $('#search').click(function () {
    //        alert('1');
    //    });
    //});
</script>