@model SalesBase.ModelView.CustomerVM

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = "frm" }))
{
    <div class="row">
        <h3>Tìm kiếm thông tin khách hàng</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.user_cd)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.search.user_cd, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 2*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.user_name)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.user_name, new { @class = "form-textbox" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.pass_word)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.pass_word, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 3*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.name)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.name, new { @class = "form-textbox" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.mobile)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.mobile, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 4*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.email)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.email, new { @class = "form-textbox" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.adress)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.search.adress, new { @class = "form-textbox" })
            </div>
        </div>
    </div>

    @*row 5*@
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 form_title">
                @Html.DisplayNameFor(m => m.search.sex)
            </div>
            <div class="col-md-8">
                @Html.RadioButtonFor(m => m.search.sex, "True")
                <label for="True">Nam</label>
                @Html.RadioButtonFor(m => m.search.sex, "False")
                <label for="False">Nữ</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <input type="button" id="btnSearch" value="Tìm kiếm" class="btn-info" />
                <input type="button" id="btnClear" value="Clear" class="btn-info" />
                <input type="button" id="btnBack" value="Back" class="btn-info" />
            </div>
        </div>
    </div>

}
<div class="row" style="margin-top:20px">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Mật khẩu</th>
                    <th>Tên</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th>Ngày cập nhật</th>
                </tr>
            </thead>
            <tbody id="lstBody">
                @Html.Partial("LstView", Model.Lst)
            </tbody>
        </table>
    </div>
</div>

<ul id="pagination-demo" class="pagination-sm"></ul>


<script type="text/javascript">
    $(document).ready(function() {

        $("#btnSearch").click(function() {
                $.ajax({
                    url: '@Url.Action("GetLstUser", "SearchCustomer")',
                type: 'POST',
                dataType: 'json',
                data: $('#frm').serialize(),
                success: function (data) {
                    $('#lstBody').html(data.view);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });

        $("#btnBack").click(function() {
            var url = '@Url.Action("Index", "Menu")';
            location.href = url;
        });

        $("#btnClear").click(function () {
            $("input[type=text]").val("");
            $('input[id=search_sex]').attr('checked', false);
        });

         $('#pagination-demo').twbsPagination({
            totalPages: @Model.ToTalPage,
            startPage: @Model.PageNumber,
            visiblePages: 5,
            next: 'Next',
            prev: 'Prev',
            onPageClick: function (event, page) {
                var pr = {
                    'page': page
                };
                $.ajax({
                    url: '@Url.Action("GetLstUser", "SearchCustomer")',
                    type: 'POST',
                    dataType: 'json',
                    data: $('#frm').serialize() + '&' + $.param(pr),
                    success: function (data) {
                        $('#lstBody').html(data.view);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        });

    });

    //$(document).ready(function () {
    //    $('#search').click(function () {
    //        alert('1');
    //    });
    //});
</script>